MathTicTac/MathTicTac.PL.Soap.TestClient/Service References/AccountService/accService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/accService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MathTicTac.PL.Soap.BindingLib.ServiceModels" />
  <xs:import schemaLocation="http://localhost/accService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MathTicTac.Enums" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MathTicTac.PL.Soap.BindingLib.ServiceModels" minOccurs="0" name="item" nillable="true" type="q1:AccountSM" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MathTicTac.Enums" minOccurs="0" name="AddResult" type="q2:ResponseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MathTicTac.Enums" minOccurs="0" name="GetResult" type="q3:ResponseResult" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MathTicTac.PL.Soap.BindingLib.ServiceModels" minOccurs="0" name="account" nillable="true" type="q4:AccountSM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MathTicTac.Enums" minOccurs="0" name="LoginByIdResult" type="q5:ResponseResult" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MathTicTac.Enums" minOccurs="0" name="LoginByTokenResult" type="q6:ResponseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MathTicTac.Enums" minOccurs="0" name="LogoutResult" type="q7:ResponseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>