MathTicTac/MathTicTac.PL.Soap.TestClient/Service References/AccountService/accService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathTicTac.PL.Soap.BindingLib.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathTicTac.PL.Soap.BindingLib.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountSM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Draw" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lose" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Won" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSM" nillable="true" type="tns:AccountSM" />
</xs:schema>